.container {

  height: 85vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* Sidebar (User list) */
.instructor-chat-sidebar {
  background: linear-gradient(135deg, #f7f4f4, #d7d7d7b7);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.instructor-chat-sidebar .sidebar-header {
  background-color: #0b2df0;
}

.instructor-chat-sidebar .search-input {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
}

.instructor-chat-sidebar .user-list {
  height: calc(100% - 60px);
  overflow-y: auto;
}

.instructor-chat-sidebar .active-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #cfe3f0;
  border: none;
  color: rgb(0, 0, 0);
}

.instructor-chat-sidebar .user-inactive {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
}

.instructor-chat-sidebar .user-avatar {
  margin-right: 10px;
}

.instructor-chat-sidebar .user-avatar img {
  border-radius: 50%;
}

.instructor-chat-sidebar .user-info h6 {
  margin: 0;
}

.instructor-chat-sidebar .user-info p {
  margin: 0;
  font-size: 12px;
  color: #000000;
}

/* Chat window */
.instructor-chat-window {
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

.instructor-chat-window .chat-header {
  background-color: #fafafa;
  border-bottom: 1px solid #ebebeb;
}

.instructor-chat-window .chat-header h5 {
  margin: 0;
}

.instructor-chat-window .chat-header p {
  margin: 0;
  color: #999;
}

.instructor-chat-window .chat-body {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: 0;
}

.instructor-chat-window .chat-body::-webkit-scrollbar {
  width: 8px;
}

.instructor-chat-window .chat-body::-webkit-scrollbar-thumb {
  background-color: #359ee4;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.instructor-chat-window .chat-body::-webkit-scrollbar-thumb:hover {
  background-color: #087ea9;
}

.instructor-chat-window .chat-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* Message styles */
.instructor-chat-window .message {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.instructor-chat-window .message.received {
  background-color: #005ce6;
  color: white;
  align-self: flex-start;
}

.instructor-chat-window .message.sent {
  background-color: #accdf3;
  color: #333;
  align-self: flex-end;
}

/* Footer (message input) */
.instructor-chat-window .chat-footer {
  background-color: #fafafa;
  border-top: 1px solid #ebebeb;
  display: flex;
}

.instructor-chat-window .chat-footer input {
  flex-grow: 1;
  border: none;
  border-radius: 0;
}

.instructor-chat-window .chat-footer .btn {
  margin-left: 10px;
  background-color: #007fd4;
  color: white;
  border: none;
}
